News-Agent/template.json
{
  "nodes": [
    {
      "parameters": {
        "url": "https://aibusiness.com/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        96,
        -144
      ],
      "id": "676c343a-3f7a-4b05-bc8d-29df29a127af",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        544,
        48
      ],
      "id": "2392b798-3944-4cf8-825a-280a06d84a81",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        768,
        256
      ],
      "id": "941e9aab-b724-464d-8ffc-ed70d8328629",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "qIZSIwoBQ7WQdSUX",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        48
      ],
      "id": "08c32095-b603-4156-bc7d-a25639b5d36a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an AI news summarizer handling multiple categories. \nUse only the provided items. Do not invent content.  \n\nOrganize by category and provide up to 3 AI news and up to 3 broader technology news.  \n\nFormat exactly like this:  \n\nHi there, \nHere's your Tech Brief:\n  AI NEWS \n  =================\n For each AI-related item, output: HEADLINE IN ALL CAPS Summary in 1–2 sentences. Link: <paste link>\n  TECHNOLOGY UPDATES\n ================== \nFor each broader technology-related item, output: HEADLINE IN ALL CAPS Summary in 1–2 sentences. Link: <paste link> \n\n\n Keep it professional, concise, and easy to read."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        768,
        48
      ],
      "id": "21ac074a-00fe-49f9-b6e9-2d929115ff1c",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "sendTo": "siddartha12052006@gmail.com",
        "subject": "Todays AI News For You",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1120,
        48
      ],
      "id": "9f1dd7ab-2ed8-4744-91ef-2d754b3f7c75",
      "name": "Send a message",
      "webhookId": "cfc447b0-351f-4bd1-9c6d-cbafaa6155f9",
      "credentials": {
        "gmailOAuth2": {
          "id": "Z8WGj22hBiTr7GUZ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "url": " http://techcrunch.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        96,
        48
      ],
      "id": "889f924b-3906-4bcd-8455-c2e66462bd86",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        320,
        32
      ],
      "id": "fff55bc7-75ed-4d6f-bacc-f217ae1f69c9",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_events"
            },
            {
              "name": "q",
              "value": "AI Tech Events in India"
            },
            {
              "name": "hl",
              "value": "en"
            },
            {
              "name": "gl",
              "value": "us"
            },
            {
              "name": "api_key",
              "value": "dba9eed6ba5529290fa0a36873fcfa4f6fa3675cc1591a90533e7dad9b4c899f"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        96,
        240
      ],
      "id": "e6942799-1062-4551-8f94-221feb813992",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "RSS Read": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  }
}